<div id="<%= dom_id book %>">
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= book.phonenumber %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= book.number %>
  </p>

</div>
